body {
  font-family: 'Open Sans', sans-serif;
  background-color: #EEE;
}
.super-container {
  font-family: "Open Sans", sans-serif;
  background-color: #EEE;
}
.header-top {
  margin-top: -40px;
  clear: both;
  text-align: center;
  font-size: 5rem;
  line-height: 1.9;
  color: #019DF8;
  text-shadow: 0px 0px 10px #019DF8;
}
h1 span {
  color: #EEE;
}
.img-circle {
  width: 140px;
  margin: 40px;
  border: 5px solid white;
  float: left;
  margin-top: -20px;
  clear: both;
}
.container {
  padding-top: 20px;
  background-color: #EEE;
}
.border-line {
  width: 100%;
  height: 16px;
  background-color: #019DF8;
}

.container-fluid {
  height: 300px;
  padding: 50px;
  background-color: black;
  font-family: 'Open Sans';
  font-color: #EEE;
}
.thumbnail {
  z-index: 1;
}